/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --color-white: #fff;
  --color-resolutionblue: #00337c;
  --color-periwinkle: #b7d5ff;
  --color-pigeonpost: #bac8db;
  --color-cobalt: #0044a5;
  --color-midnightblue: #002e6f;
  --container-desktop: 1200px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background: var(--color-resolutionblue);
  color: var(--color-white);
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  letter-spacing: -1.5px;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: var(--color-pigeonpost);
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  color: var(--color-periwinkle);
}

a {
  color: var(--color-periwinkle);
  text-decoration: none;
}

.active {
  font-weight: 500;
}

/* Container */

.container {
  display: flex;
  height: 100%;
  max-width: var(--container-desktop);
  margin: 0 auto;
}

.header,
.footer {
  flex-shrink: 0;
}

/* Header */

.header {
  padding: 40px 0;
  background: var(--color-cobalt);
  width: 100%;
}

.header .container,
.logo {
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header h1 {
  font-size: 40px;
  letter-spacing: -0.5px;
}

.header span {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
}

.header a {
  color: var(--color-white);
}

.header span:before {
  content: "";
  position: relative;
  left: 0;
  top: 0;
  width: 1px;
  display: inline-block;
  height: 45px;
  margin: 0 15px 0 25px;
  background: var(--color-white);
}

.sidebar {
  display: flex;
  margin-top: 4rem;
  flex-basis: 15%;
}

/* Main */

.main {
  display: flex;
  flex: 0 1 100%;
}

section {
  width: 100%;
  padding: 0 0 0 4rem;
}

/* Nav */

aside {
  padding: 1rem 2rem;
  background: var(--color-midnightblue);
  min-width: 150px;
}

aside h3 {
  margin: 1rem 0;
  letter-spacing: 0;
}

aside nav {
  display: flex;
  flex-direction: column;
}

aside nav a {
  font-size: 18px;
  font-weight: 300;
  margin: 0.25rem 0;
}

/* Hero */

.hero {
  flex-direction: column;
  padding: 0 0 0 4rem;
}

.hero h2 {
  color: var(--color-white);
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero p {
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 1rem 0;
  max-width: 700px;
  color: var(--color-white);
}

/* Footer */

.footer {
  min-height: 50px;
  padding: 40px 0;
  background: var(--color-resolutionblue);
  width: 100%;
}

.footer .container {
  display: flex;
  justify-content: flex-end;
}

.video-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
