/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
$main
$fonts
$nav
$footer
$responsive
*/

/* $main */

body {
font-family: 'Open Sans', Arial, sans-serif;
background:#F6F6F6;
color:#666;
}

h1 {
color: #6996a5;
font-family: 'Varela Round', sans-serif;
padding: 0 0 10px;
}

.btn-primary {
background-color: #319fc4;
border-color: #84bbf3;
color: #fff;
font-weight:600;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #3393b3;
    border-color: #84bbf3;
    color: #fff;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 43px;
  font-weight:600;
  font-family: 'Open Sans', Arial, sans-serif;
  color:#878787;
  text-shadow:1px 2px 1px #fdfdfd;
  line-height:1.2;
}

.jumbotron h1 span {
  color:#1e8ea5;
}

/* $fonts */

@font-face {
font-family: 'Varela Round';
src: url('../font/varelaround-regular-webfont.eot');
src: url('../font/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/varelaround-regular-webfont.svg#varela_roundregular') format('svg'),
url('../font/varelaround-regular-webfont.woff') format('woff'),
url('../font/varelaround-regular-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans';
src: url('../font/OpenSans-Regular-webfont.eot');
src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/OpenSans-Regular-webfont.woff') format('woff'),
url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans';
src: url('n../font/OpenSans-Italic-webfont.eot');
src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/otosans-italic-webfont.woff') format('woff'),
url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'Open Sans';
src: url('../font/OpenSans-Semibold-webfont.eot');
src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'Open Sans';
src: url('../font/OpenSans-Bold-webfont.eot');
src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/OpenSans-Bold-webfont.woff') format('woff'),
url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
font-weight: 700;
font-style: normal;
}

/* $nav */

.navbar {
min-height: 70px;
text-transform:lowercase;
margin-bottom:0;
}

.navbar-nav > li > a {
padding-bottom: 25px;
padding-top: 25px;
}

.navbar-header {
padding:10px 0 0 0;
}

.navbar-brand {
font-family: 'Varela Round', Arial, sans-serif;
text-shadow:0px 0px 1px rgba(255,255,255,1), 1px 2px 2px rgba(0,0,0,0.3);
letter-spacing:-0.1px;
font-size:25px;
text-transform: uppercase;
font-weight: bold;
}

.navbar-inverse {
background-color: #319FC4;
border-color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}

.navbar-inverse .navbar-nav {
font-size:18px;
}

.navbar-inverse .navbar-nav > li > a {
color: #FFF;
-webkit-transition: all 100ms linear;
-moz-transition: all 100ms linear;
-ms-transition: all 100ms linear;
-o-transition: all 100ms linear;
transition: all 100ms linear;
}

.navbar-inverse .navbar-nav > li > a:hover {
background:#2A88A7;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #2C8FAF;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #2A88A7;
  color: #fff;
}

/* $footer */

.footer {
margin-top:40px;
background:#F5F5F5;
box-shadow:2px 4px 12px -4px rgba(37, 37, 37, 0.1) inset;
}

.footer p {
padding:15px 0;
font-size:18px;
color:#636363;
}

/* $responsive */

@media (max-width: 767px) {

.navbar-nav > li > a {
line-height: 20px;
padding-top: 10px;
padding-bottom: 10px;}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

}